// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import type * as Samsara from "../../../index.js";

export declare namespace VehicleStatsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class VehicleStatsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<VehicleStatsClient.Options>;

    constructor(options: VehicleStatsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Returns the last known stats of all vehicles at the given `time`. If no `time` is specified, the current time is used.
     *
     * Related guide: [Telematics](/docs/telematics).
     *
     *  **Submit Feedback**: Likes, dislikes, and API feature requests should be filed as feedback in our <a href="https://forms.gle/zkD4NCH7HjKb7mm69" target="_blank">API feedback form</a>. If you encountered an issue or noticed inaccuracies in the API documentation, please <a href="https://www.samsara.com/help" target="_blank">submit a case</a> to our support team.
     *
     * To use this endpoint, select **Read Vehicle Statistics** under the Vehicles category when creating or editing an API token. [Learn More.](/docs/authentication#scopes-for-api-tokens)
     *
     * @param {Samsara.GetVehicleStatsRequest} request
     * @param {VehicleStatsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.vehicleStats.getVehicleStats()
     */
    public getVehicleStats(
        request: Samsara.GetVehicleStatsRequest = {},
        requestOptions?: VehicleStatsClient.RequestOptions,
    ): core.HttpResponsePromise<Samsara.VehicleStatsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getVehicleStats(request, requestOptions));
    }

    private async __getVehicleStats(
        request: Samsara.GetVehicleStatsRequest = {},
        requestOptions?: VehicleStatsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Samsara.VehicleStatsResponse>> {
        const { after, time, parentTagIds, tagIds, vehicleIds, types } = request;
        const _queryParams: Record<string, unknown> = {
            after,
            time,
            parentTagIds,
            tagIds,
            vehicleIds,
            types: Array.isArray(types) ? types.map((item) => item) : types != null ? types : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Samsara-Version": requestOptions?.version }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SamsaraEnvironment.ProductionApi,
                "fleet/vehicles/stats",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Samsara.VehicleStatsResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.SamsaraError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/fleet/vehicles/stats");
    }

    /**
     * Follow a feed of vehicle stats.
     *
     * Your first call to this endpoint will provide you with the most recent stats for each vehicle and an `endCursor`.
     *
     * You can the provide the `endCursor` value to the `after` query parameter to get all updates since the last call you made.
     *
     * If `hasNextPage` is `false`, no new data is immediately available. You should wait a minimum of 5 seconds making a subsequent request.
     *
     * Related guide: [Telematics](/docs/telematics).
     *
     *  **Submit Feedback**: Likes, dislikes, and API feature requests should be filed as feedback in our <a href="https://forms.gle/zkD4NCH7HjKb7mm69" target="_blank">API feedback form</a>. If you encountered an issue or noticed inaccuracies in the API documentation, please <a href="https://www.samsara.com/help" target="_blank">submit a case</a> to our support team.
     *
     * To use this endpoint, select **Read Vehicle Statistics** under the Vehicles category when creating or editing an API token. [Learn More.](/docs/authentication#scopes-for-api-tokens)
     *
     * @param {Samsara.GetVehicleStatsFeedRequest} request
     * @param {VehicleStatsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.vehicleStats.getVehicleStatsFeed()
     */
    public getVehicleStatsFeed(
        request: Samsara.GetVehicleStatsFeedRequest = {},
        requestOptions?: VehicleStatsClient.RequestOptions,
    ): core.HttpResponsePromise<Samsara.VehicleStatsListResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getVehicleStatsFeed(request, requestOptions));
    }

    private async __getVehicleStatsFeed(
        request: Samsara.GetVehicleStatsFeedRequest = {},
        requestOptions?: VehicleStatsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Samsara.VehicleStatsListResponse>> {
        const { after, parentTagIds, tagIds, vehicleIds, types, decorations } = request;
        const _queryParams: Record<string, unknown> = {
            after,
            parentTagIds,
            tagIds,
            vehicleIds,
            types: Array.isArray(types) ? types.map((item) => item) : types != null ? types : undefined,
            decorations: Array.isArray(decorations)
                ? decorations.map((item) => item)
                : decorations != null
                  ? decorations
                  : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Samsara-Version": requestOptions?.version }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SamsaraEnvironment.ProductionApi,
                "fleet/vehicles/stats/feed",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Samsara.VehicleStatsListResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.SamsaraError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/fleet/vehicles/stats/feed");
    }

    /**
     * Returns vehicle stats during the given time range for all vehicles. This can be optionally filtered by tags or specific vehicle IDs.
     *
     * Related guide: [Telematics](/docs/telematics).
     *
     *  **Submit Feedback**: Likes, dislikes, and API feature requests should be filed as feedback in our <a href="https://forms.gle/zkD4NCH7HjKb7mm69" target="_blank">API feedback form</a>. If you encountered an issue or noticed inaccuracies in the API documentation, please <a href="https://www.samsara.com/help" target="_blank">submit a case</a> to our support team.
     *
     * To use this endpoint, select **Read Vehicle Statistics** under the Vehicles category when creating or editing an API token. [Learn More.](/docs/authentication#scopes-for-api-tokens)
     *
     * @param {Samsara.GetVehicleStatsHistoryRequest} request
     * @param {VehicleStatsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.vehicleStats.getVehicleStatsHistory({
     *         startTime: "startTime",
     *         endTime: "endTime"
     *     })
     */
    public getVehicleStatsHistory(
        request: Samsara.GetVehicleStatsHistoryRequest,
        requestOptions?: VehicleStatsClient.RequestOptions,
    ): core.HttpResponsePromise<Samsara.VehicleStatsListResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getVehicleStatsHistory(request, requestOptions));
    }

    private async __getVehicleStatsHistory(
        request: Samsara.GetVehicleStatsHistoryRequest,
        requestOptions?: VehicleStatsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Samsara.VehicleStatsListResponse>> {
        const { after, startTime, endTime, parentTagIds, tagIds, vehicleIds, types, decorations } = request;
        const _queryParams: Record<string, unknown> = {
            after,
            startTime,
            endTime,
            parentTagIds,
            tagIds,
            vehicleIds,
            types: Array.isArray(types) ? types.map((item) => item) : types != null ? types : undefined,
            decorations: Array.isArray(decorations)
                ? decorations.map((item) => item)
                : decorations != null
                  ? decorations
                  : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Samsara-Version": requestOptions?.version }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SamsaraEnvironment.ProductionApi,
                "fleet/vehicles/stats/history",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Samsara.VehicleStatsListResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.SamsaraError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/fleet/vehicles/stats/history");
    }
}
