// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as Samsara from "../../../index.js";
import { AssetsClient } from "../resources/assets/client/Client.js";

export declare namespace IndustrialClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class IndustrialClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<IndustrialClient.Options>;
    protected _assets: AssetsClient | undefined;

    constructor(options: IndustrialClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    public get assets(): AssetsClient {
        return (this._assets ??= new AssetsClient(this._options));
    }

    /**
     * List all assets in the organization.
     *
     *  **Submit Feedback**: Likes, dislikes, and API feature requests should be filed as feedback in our <a href="https://forms.gle/zkD4NCH7HjKb7mm69" target="_blank">API feedback form</a>. If you encountered an issue or noticed inaccuracies in the API documentation, please <a href="https://www.samsara.com/help" target="_blank">submit a case</a> to our support team.
     *
     * To use this endpoint, select **Read Equipment** under the Equipment category when creating or editing an API token. <a href="https://developers.samsara.com/docs/authentication#scopes-for-api-tokens" target="_blank">Learn More.</a>
     *
     * @param {Samsara.GetIndustrialAssetsRequest} request
     * @param {IndustrialClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.industrial.getIndustrialAssets()
     */
    public getIndustrialAssets(
        request: Samsara.GetIndustrialAssetsRequest = {},
        requestOptions?: IndustrialClient.RequestOptions,
    ): core.HttpResponsePromise<Samsara.ListIndustrialAssetsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getIndustrialAssets(request, requestOptions));
    }

    private async __getIndustrialAssets(
        request: Samsara.GetIndustrialAssetsRequest = {},
        requestOptions?: IndustrialClient.RequestOptions,
    ): Promise<core.WithRawResponse<Samsara.ListIndustrialAssetsResponse>> {
        const { limit, after, parentTagIds, tagIds, assetIds } = request;
        const _queryParams: Record<string, unknown> = {
            limit,
            after,
            parentTagIds,
            tagIds,
            assetIds,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Samsara-Version": requestOptions?.version }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SamsaraEnvironment.ProductionApi,
                "industrial/assets",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Samsara.ListIndustrialAssetsResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.SamsaraError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/industrial/assets");
    }

    /**
     * Create an asset with optional configuration parameters.
     *
     *  **Submit Feedback**: Likes, dislikes, and API feature requests should be filed as feedback in our <a href="https://forms.gle/zkD4NCH7HjKb7mm69" target="_blank">API feedback form</a>. If you encountered an issue or noticed inaccuracies in the API documentation, please <a href="https://www.samsara.com/help" target="_blank">submit a case</a> to our support team.
     *
     * To use this endpoint, select **Write Equipment** under the Equipment category when creating or editing an API token. <a href="https://developers.samsara.com/docs/authentication#scopes-for-api-tokens" target="_blank">Learn More.</a>
     *
     * @param {Samsara.AssetCreate} request
     * @param {IndustrialClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.industrial.createIndustrialAsset({
     *         name: "name"
     *     })
     */
    public createIndustrialAsset(
        request: Samsara.AssetCreate,
        requestOptions?: IndustrialClient.RequestOptions,
    ): core.HttpResponsePromise<Samsara.InlineResponse200> {
        return core.HttpResponsePromise.fromPromise(this.__createIndustrialAsset(request, requestOptions));
    }

    private async __createIndustrialAsset(
        request: Samsara.AssetCreate,
        requestOptions?: IndustrialClient.RequestOptions,
    ): Promise<core.WithRawResponse<Samsara.InlineResponse200>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Samsara-Version": requestOptions?.version }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SamsaraEnvironment.ProductionApi,
                "industrial/assets",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Samsara.InlineResponse200, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.SamsaraError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/industrial/assets");
    }

    /**
     * Update an existing asset. Only the provided fields will be updated.
     *
     *  **Submit Feedback**: Likes, dislikes, and API feature requests should be filed as feedback in our <a href="https://forms.gle/zkD4NCH7HjKb7mm69" target="_blank">API feedback form</a>. If you encountered an issue or noticed inaccuracies in the API documentation, please <a href="https://www.samsara.com/help" target="_blank">submit a case</a> to our support team.
     *
     * To use this endpoint, select **Write Equipment** under the Equipment category when creating or editing an API token. <a href="https://developers.samsara.com/docs/authentication#scopes-for-api-tokens" target="_blank">Learn More.</a>
     *
     * @param {Samsara.AssetPatch} request
     * @param {IndustrialClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.industrial.patchIndustrialAsset({
     *         id: "id"
     *     })
     */
    public patchIndustrialAsset(
        request: Samsara.AssetPatch,
        requestOptions?: IndustrialClient.RequestOptions,
    ): core.HttpResponsePromise<Samsara.InlineResponse200> {
        return core.HttpResponsePromise.fromPromise(this.__patchIndustrialAsset(request, requestOptions));
    }

    private async __patchIndustrialAsset(
        request: Samsara.AssetPatch,
        requestOptions?: IndustrialClient.RequestOptions,
    ): Promise<core.WithRawResponse<Samsara.InlineResponse200>> {
        const { id, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Samsara-Version": requestOptions?.version }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SamsaraEnvironment.ProductionApi,
                `industrial/assets/${core.url.encodePathParam(id)}`,
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Samsara.InlineResponse200, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.SamsaraError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "PATCH", "/industrial/assets/{id}");
    }

    /**
     * Writes values to multiple data outputs on an asset simultaneously. Only the provided data outputs will be updated.
     *
     *  <b>Rate limit:</b> 100 requests/min (learn more about rate limits <a href="https://developers.samsara.com/docs/rate-limits" target="_blank">here</a>).
     *
     * To use this endpoint, select **Write Equipment Statistics** under the Equipment category when creating or editing an API token. <a href="https://developers.samsara.com/docs/authentication#scopes-for-api-tokens" target="_blank">Learn More.</a>
     *
     *
     *  **Submit Feedback**: Likes, dislikes, and API feature requests should be filed as feedback in our <a href="https://forms.gle/zkD4NCH7HjKb7mm69" target="_blank">API feedback form</a>. If you encountered an issue or noticed inaccuracies in the API documentation, please <a href="https://www.samsara.com/help" target="_blank">submit a case</a> to our support team.
     *
     * @param {Samsara.AssetDataOutputsPatchAssetDataOutputsRequestBody} request
     * @param {IndustrialClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Samsara.UnauthorizedError}
     * @throws {@link Samsara.NotFoundError}
     * @throws {@link Samsara.MethodNotAllowedError}
     * @throws {@link Samsara.TooManyRequestsError}
     * @throws {@link Samsara.InternalServerError}
     * @throws {@link Samsara.NotImplementedError}
     * @throws {@link Samsara.BadGatewayError}
     * @throws {@link Samsara.ServiceUnavailableError}
     * @throws {@link Samsara.GatewayTimeoutError}
     *
     * @example
     *     await client.industrial.patchAssetDataOutputs({
     *         id: "id",
     *         values: {
     *             "key": "value"
     *         }
     *     })
     */
    public patchAssetDataOutputs(
        request: Samsara.AssetDataOutputsPatchAssetDataOutputsRequestBody,
        requestOptions?: IndustrialClient.RequestOptions,
    ): core.HttpResponsePromise<Samsara.AssetDataOutputsPatchAssetDataOutputsResponseBody> {
        return core.HttpResponsePromise.fromPromise(this.__patchAssetDataOutputs(request, requestOptions));
    }

    private async __patchAssetDataOutputs(
        request: Samsara.AssetDataOutputsPatchAssetDataOutputsRequestBody,
        requestOptions?: IndustrialClient.RequestOptions,
    ): Promise<core.WithRawResponse<Samsara.AssetDataOutputsPatchAssetDataOutputsResponseBody>> {
        const { id, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Samsara-Version": requestOptions?.version }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SamsaraEnvironment.ProductionApi,
                `industrial/assets/${core.url.encodePathParam(id)}/data-outputs`,
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Samsara.AssetDataOutputsPatchAssetDataOutputsResponseBody,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new Samsara.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Samsara.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 405:
                    throw new Samsara.MethodNotAllowedError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new Samsara.TooManyRequestsError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new Samsara.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                case 501:
                    throw new Samsara.NotImplementedError(_response.error.body as unknown, _response.rawResponse);
                case 502:
                    throw new Samsara.BadGatewayError(_response.error.body as unknown, _response.rawResponse);
                case 503:
                    throw new Samsara.ServiceUnavailableError(_response.error.body as unknown, _response.rawResponse);
                case 504:
                    throw new Samsara.GatewayTimeoutError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.SamsaraError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PATCH",
            "/industrial/assets/{id}/data-outputs",
        );
    }

    /**
     * Returns all data inputs, optionally filtered by tags or asset ids.
     *
     *  **Submit Feedback**: Likes, dislikes, and API feature requests should be filed as feedback in our <a href="https://forms.gle/zkD4NCH7HjKb7mm69" target="_blank">API feedback form</a>. If you encountered an issue or noticed inaccuracies in the API documentation, please <a href="https://www.samsara.com/help" target="_blank">submit a case</a> to our support team.
     *
     * To use this endpoint, select **Read Equipment Statistics** under the Equipment category when creating or editing an API token. <a href="https://developers.samsara.com/docs/authentication#scopes-for-api-tokens" target="_blank">Learn More.</a>
     *
     * @param {Samsara.GetDataInputsRequest} request
     * @param {IndustrialClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.industrial.getDataInputs()
     */
    public getDataInputs(
        request: Samsara.GetDataInputsRequest = {},
        requestOptions?: IndustrialClient.RequestOptions,
    ): core.HttpResponsePromise<Samsara.DataInputsTinyResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getDataInputs(request, requestOptions));
    }

    private async __getDataInputs(
        request: Samsara.GetDataInputsRequest = {},
        requestOptions?: IndustrialClient.RequestOptions,
    ): Promise<core.WithRawResponse<Samsara.DataInputsTinyResponse>> {
        const { limit, after, parentTagIds, tagIds, assetIds } = request;
        const _queryParams: Record<string, unknown> = {
            limit,
            after,
            parentTagIds,
            tagIds,
            assetIds,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Samsara-Version": requestOptions?.version }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SamsaraEnvironment.ProductionApi,
                "industrial/data-inputs",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Samsara.DataInputsTinyResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.SamsaraError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/industrial/data-inputs");
    }

    /**
     * Returns last known data points for all data inputs. This can be filtered by optional tags, specific data input IDs or asset IDs.
     *
     *  **Submit Feedback**: Likes, dislikes, and API feature requests should be filed as feedback in our <a href="https://forms.gle/zkD4NCH7HjKb7mm69" target="_blank">API feedback form</a>. If you encountered an issue or noticed inaccuracies in the API documentation, please <a href="https://www.samsara.com/help" target="_blank">submit a case</a> to our support team.
     *
     * To use this endpoint, select **Read Equipment Statistics** under the Equipment category when creating or editing an API token. <a href="https://developers.samsara.com/docs/authentication#scopes-for-api-tokens" target="_blank">Learn More.</a>
     *
     * @param {Samsara.GetDataInputDataSnapshotRequest} request
     * @param {IndustrialClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.industrial.getDataInputDataSnapshot()
     */
    public getDataInputDataSnapshot(
        request: Samsara.GetDataInputDataSnapshotRequest = {},
        requestOptions?: IndustrialClient.RequestOptions,
    ): core.HttpResponsePromise<Samsara.DataInputSnapshotResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getDataInputDataSnapshot(request, requestOptions));
    }

    private async __getDataInputDataSnapshot(
        request: Samsara.GetDataInputDataSnapshotRequest = {},
        requestOptions?: IndustrialClient.RequestOptions,
    ): Promise<core.WithRawResponse<Samsara.DataInputSnapshotResponse>> {
        const { after, parentTagIds, tagIds, dataInputIds, assetIds } = request;
        const _queryParams: Record<string, unknown> = {
            after,
            parentTagIds,
            tagIds,
            dataInputIds,
            assetIds,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Samsara-Version": requestOptions?.version }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SamsaraEnvironment.ProductionApi,
                "industrial/data-inputs/data-points",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Samsara.DataInputSnapshotResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.SamsaraError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/industrial/data-inputs/data-points",
        );
    }

    /**
     * Follow a continuous feed of all data input data points.
     *
     * Your first call to this endpoint will provide you with the most recent data points for each data input and a `pagination` object that contains an `endCursor`.
     *
     * You can provide the `endCursor` to the `after` parameter of this endpoint to get data point updates since that `endCursor`.
     *
     * If `hasNextPage` is `false`, no updates are readily available yet. We suggest waiting a minimum of 5 seconds before requesting updates.
     *
     *  **Submit Feedback**: Likes, dislikes, and API feature requests should be filed as feedback in our <a href="https://forms.gle/zkD4NCH7HjKb7mm69" target="_blank">API feedback form</a>. If you encountered an issue or noticed inaccuracies in the API documentation, please <a href="https://www.samsara.com/help" target="_blank">submit a case</a> to our support team.
     *
     * To use this endpoint, select **Read Equipment Statistics** under the Equipment category when creating or editing an API token. <a href="https://developers.samsara.com/docs/authentication#scopes-for-api-tokens" target="_blank">Learn More.</a>
     *
     * @param {Samsara.GetDataInputDataFeedRequest} request
     * @param {IndustrialClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.industrial.getDataInputDataFeed()
     */
    public getDataInputDataFeed(
        request: Samsara.GetDataInputDataFeedRequest = {},
        requestOptions?: IndustrialClient.RequestOptions,
    ): core.HttpResponsePromise<Samsara.DataInputListResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getDataInputDataFeed(request, requestOptions));
    }

    private async __getDataInputDataFeed(
        request: Samsara.GetDataInputDataFeedRequest = {},
        requestOptions?: IndustrialClient.RequestOptions,
    ): Promise<core.WithRawResponse<Samsara.DataInputListResponse>> {
        const { after, parentTagIds, tagIds, dataInputIds, assetIds } = request;
        const _queryParams: Record<string, unknown> = {
            after,
            parentTagIds,
            tagIds,
            dataInputIds,
            assetIds,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Samsara-Version": requestOptions?.version }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SamsaraEnvironment.ProductionApi,
                "industrial/data-inputs/data-points/feed",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Samsara.DataInputListResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.SamsaraError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/industrial/data-inputs/data-points/feed",
        );
    }

    /**
     * Returns all known data points during the given time range for all data inputs. This can be filtered by optional tags, specific data input IDs or asset IDs.
     *
     *  **Submit Feedback**: Likes, dislikes, and API feature requests should be filed as feedback in our <a href="https://forms.gle/zkD4NCH7HjKb7mm69" target="_blank">API feedback form</a>. If you encountered an issue or noticed inaccuracies in the API documentation, please <a href="https://www.samsara.com/help" target="_blank">submit a case</a> to our support team.
     *
     * To use this endpoint, select **Read Equipment Statistics** under the Equipment category when creating or editing an API token. <a href="https://developers.samsara.com/docs/authentication#scopes-for-api-tokens" target="_blank">Learn More.</a>
     *
     * @param {Samsara.GetDataInputDataHistoryRequest} request
     * @param {IndustrialClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.industrial.getDataInputDataHistory({
     *         startTime: "startTime",
     *         endTime: "endTime"
     *     })
     */
    public getDataInputDataHistory(
        request: Samsara.GetDataInputDataHistoryRequest,
        requestOptions?: IndustrialClient.RequestOptions,
    ): core.HttpResponsePromise<Samsara.DataInputListResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getDataInputDataHistory(request, requestOptions));
    }

    private async __getDataInputDataHistory(
        request: Samsara.GetDataInputDataHistoryRequest,
        requestOptions?: IndustrialClient.RequestOptions,
    ): Promise<core.WithRawResponse<Samsara.DataInputListResponse>> {
        const { startTime, endTime, after, parentTagIds, tagIds, dataInputIds, assetIds } = request;
        const _queryParams: Record<string, unknown> = {
            startTime,
            endTime,
            after,
            parentTagIds,
            tagIds,
            dataInputIds,
            assetIds,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Samsara-Version": requestOptions?.version }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SamsaraEnvironment.ProductionApi,
                "industrial/data-inputs/data-points/history",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Samsara.DataInputListResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.SamsaraError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/industrial/data-inputs/data-points/history",
        );
    }

    /**
     * <n class="warning">
     * <nh>
     * <i class="fa fa-exclamation-circle"></i>
     * This endpoint is still on our legacy API.
     * </nh>
     * </n>
     *
     * Fetch all cameras.
     *
     *  **Submit Feedback**: Likes, dislikes, and API feature requests should be filed as feedback in our <a href="https://forms.gle/zkD4NCH7HjKb7mm69" target="_blank">API feedback form</a>. If you encountered an issue or noticed inaccuracies in the API documentation, please <a href="https://www.samsara.com/help" target="_blank">submit a case</a> to our support team.
     *
     * To use this endpoint, select **Read Industrial** under the Industrial category when creating or editing an API token. <a href="https://developers.samsara.com/docs/authentication#scopes-for-api-tokens" target="_blank">Learn More.</a>
     *
     * @param {IndustrialClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.industrial.v1GetCameras()
     */
    public v1GetCameras(
        requestOptions?: IndustrialClient.RequestOptions,
    ): core.HttpResponsePromise<Samsara.V1VisionCamerasResponse> {
        return core.HttpResponsePromise.fromPromise(this.__v1GetCameras(requestOptions));
    }

    private async __v1GetCameras(
        requestOptions?: IndustrialClient.RequestOptions,
    ): Promise<core.WithRawResponse<Samsara.V1VisionCamerasResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Samsara-Version": requestOptions?.version }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SamsaraEnvironment.ProductionApi,
                "v1/industrial/vision/cameras",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Samsara.V1VisionCamerasResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.SamsaraError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/industrial/vision/cameras");
    }

    /**
     * <n class="warning">
     * <nh>
     * <i class="fa fa-exclamation-circle"></i>
     * This endpoint is still on our legacy API.
     * </nh>
     * </n>
     *
     * Fetch configured programs on the camera.
     *
     *  **Submit Feedback**: Likes, dislikes, and API feature requests should be filed as feedback in our <a href="https://forms.gle/zkD4NCH7HjKb7mm69" target="_blank">API feedback form</a>. If you encountered an issue or noticed inaccuracies in the API documentation, please <a href="https://www.samsara.com/help" target="_blank">submit a case</a> to our support team.
     *
     * To use this endpoint, select **Read Industrial** under the Industrial category when creating or editing an API token. <a href="https://developers.samsara.com/docs/authentication#scopes-for-api-tokens" target="_blank">Learn More.</a>
     *
     * @param {Samsara.V1GetVisionProgramsByCameraRequest} request
     * @param {IndustrialClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.industrial.v1GetVisionProgramsByCamera({
     *         camera_id: 1000000
     *     })
     */
    public v1GetVisionProgramsByCamera(
        request: Samsara.V1GetVisionProgramsByCameraRequest,
        requestOptions?: IndustrialClient.RequestOptions,
    ): core.HttpResponsePromise<Samsara.V1ProgramsForTheCameraResponse> {
        return core.HttpResponsePromise.fromPromise(this.__v1GetVisionProgramsByCamera(request, requestOptions));
    }

    private async __v1GetVisionProgramsByCamera(
        request: Samsara.V1GetVisionProgramsByCameraRequest,
        requestOptions?: IndustrialClient.RequestOptions,
    ): Promise<core.WithRawResponse<Samsara.V1ProgramsForTheCameraResponse>> {
        const { camera_id: cameraId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Samsara-Version": requestOptions?.version }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SamsaraEnvironment.ProductionApi,
                `v1/industrial/vision/cameras/${core.url.encodePathParam(cameraId)}/programs`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Samsara.V1ProgramsForTheCameraResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.SamsaraError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v1/industrial/vision/cameras/{camera_id}/programs",
        );
    }

    /**
     * Fetch the latest run for a camera or program by default. If startedAtMs is supplied, fetch the specific run that corresponds to that start time.
     *
     *  **Submit Feedback**: Likes, dislikes, and API feature requests should be filed as feedback in our <a href="https://forms.gle/zkD4NCH7HjKb7mm69" target="_blank">API feedback form</a>. If you encountered an issue or noticed inaccuracies in the API documentation, please <a href="https://www.samsara.com/help" target="_blank">submit a case</a> to our support team.
     *
     * To use this endpoint, select **Read Industrial** under the Industrial category when creating or editing an API token. <a href="https://developers.samsara.com/docs/authentication#scopes-for-api-tokens" target="_blank">Learn More.</a>
     *
     * @param {Samsara.V1GetVisionLatestRunCameraRequest} request
     * @param {IndustrialClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.industrial.v1GetVisionLatestRunCamera({
     *         camera_id: 1000000
     *     })
     */
    public v1GetVisionLatestRunCamera(
        request: Samsara.V1GetVisionLatestRunCameraRequest,
        requestOptions?: IndustrialClient.RequestOptions,
    ): core.HttpResponsePromise<Samsara.V1VisionRunByCameraResponse> {
        return core.HttpResponsePromise.fromPromise(this.__v1GetVisionLatestRunCamera(request, requestOptions));
    }

    private async __v1GetVisionLatestRunCamera(
        request: Samsara.V1GetVisionLatestRunCameraRequest,
        requestOptions?: IndustrialClient.RequestOptions,
    ): Promise<core.WithRawResponse<Samsara.V1VisionRunByCameraResponse>> {
        const { camera_id: cameraId, program_id: programId, startedAtMs, include, limit } = request;
        const _queryParams: Record<string, unknown> = {
            program_id: programId,
            startedAtMs,
            include,
            limit,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Samsara-Version": requestOptions?.version }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SamsaraEnvironment.ProductionApi,
                `v1/industrial/vision/run/camera/${core.url.encodePathParam(cameraId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Samsara.V1VisionRunByCameraResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.SamsaraError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v1/industrial/vision/run/camera/{camera_id}",
        );
    }

    /**
     * <n class="warning">
     * <nh>
     * <i class="fa fa-exclamation-circle"></i>
     * This endpoint is still on our legacy API.
     * </nh>
     * </n>
     *
     * Fetch runs.
     *
     *  **Submit Feedback**: Likes, dislikes, and API feature requests should be filed as feedback in our <a href="https://forms.gle/zkD4NCH7HjKb7mm69" target="_blank">API feedback form</a>. If you encountered an issue or noticed inaccuracies in the API documentation, please <a href="https://www.samsara.com/help" target="_blank">submit a case</a> to our support team.
     *
     * To use this endpoint, select **Read Industrial** under the Industrial category when creating or editing an API token. <a href="https://developers.samsara.com/docs/authentication#scopes-for-api-tokens" target="_blank">Learn More.</a>
     *
     * @param {Samsara.V1GetVisionRunsRequest} request
     * @param {IndustrialClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.industrial.v1GetVisionRuns({
     *         durationMs: 1000000
     *     })
     */
    public v1GetVisionRuns(
        request: Samsara.V1GetVisionRunsRequest,
        requestOptions?: IndustrialClient.RequestOptions,
    ): core.HttpResponsePromise<Samsara.V1VisionRunsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__v1GetVisionRuns(request, requestOptions));
    }

    private async __v1GetVisionRuns(
        request: Samsara.V1GetVisionRunsRequest,
        requestOptions?: IndustrialClient.RequestOptions,
    ): Promise<core.WithRawResponse<Samsara.V1VisionRunsResponse>> {
        const { durationMs, endMs } = request;
        const _queryParams: Record<string, unknown> = {
            durationMs,
            endMs,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Samsara-Version": requestOptions?.version }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SamsaraEnvironment.ProductionApi,
                "v1/industrial/vision/runs",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Samsara.V1VisionRunsResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.SamsaraError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/industrial/vision/runs");
    }

    /**
     * <n class="warning">
     * <nh>
     * <i class="fa fa-exclamation-circle"></i>
     * This endpoint is still on our legacy API.
     * </nh>
     * </n>
     *
     * Fetch runs by camera.
     *
     *  **Submit Feedback**: Likes, dislikes, and API feature requests should be filed as feedback in our <a href="https://forms.gle/zkD4NCH7HjKb7mm69" target="_blank">API feedback form</a>. If you encountered an issue or noticed inaccuracies in the API documentation, please <a href="https://www.samsara.com/help" target="_blank">submit a case</a> to our support team.
     *
     * To use this endpoint, select **Read Industrial** under the Industrial category when creating or editing an API token. <a href="https://developers.samsara.com/docs/authentication#scopes-for-api-tokens" target="_blank">Learn More.</a>
     *
     * @param {Samsara.GetVisionRunsByCameraRequest} request
     * @param {IndustrialClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.industrial.getVisionRunsByCamera({
     *         camera_id: 1000000,
     *         durationMs: 1000000
     *     })
     */
    public getVisionRunsByCamera(
        request: Samsara.GetVisionRunsByCameraRequest,
        requestOptions?: IndustrialClient.RequestOptions,
    ): core.HttpResponsePromise<Samsara.V1VisionRunsByCameraResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getVisionRunsByCamera(request, requestOptions));
    }

    private async __getVisionRunsByCamera(
        request: Samsara.GetVisionRunsByCameraRequest,
        requestOptions?: IndustrialClient.RequestOptions,
    ): Promise<core.WithRawResponse<Samsara.V1VisionRunsByCameraResponse>> {
        const { camera_id: cameraId, durationMs, endMs } = request;
        const _queryParams: Record<string, unknown> = {
            durationMs,
            endMs,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Samsara-Version": requestOptions?.version }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SamsaraEnvironment.ProductionApi,
                `v1/industrial/vision/runs/${core.url.encodePathParam(cameraId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Samsara.V1VisionRunsByCameraResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.SamsaraError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v1/industrial/vision/runs/{camera_id}",
        );
    }

    /**
     * <n class="warning">
     * <nh>
     * <i class="fa fa-exclamation-circle"></i>
     * This endpoint is still on our legacy API.
     * </nh>
     * </n>
     *
     * Fetch runs by camera and program.
     *
     *  **Submit Feedback**: Likes, dislikes, and API feature requests should be filed as feedback in our <a href="https://forms.gle/zkD4NCH7HjKb7mm69" target="_blank">API feedback form</a>. If you encountered an issue or noticed inaccuracies in the API documentation, please <a href="https://www.samsara.com/help" target="_blank">submit a case</a> to our support team.
     *
     * To use this endpoint, select **Read Industrial** under the Industrial category when creating or editing an API token. <a href="https://developers.samsara.com/docs/authentication#scopes-for-api-tokens" target="_blank">Learn More.</a>
     *
     * @param {Samsara.V1GetVisionRunsByCameraAndProgramRequest} request
     * @param {IndustrialClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.industrial.v1GetVisionRunsByCameraAndProgram({
     *         camera_id: 1000000,
     *         program_id: 1000000,
     *         started_at_ms: 1000000
     *     })
     */
    public v1GetVisionRunsByCameraAndProgram(
        request: Samsara.V1GetVisionRunsByCameraAndProgramRequest,
        requestOptions?: IndustrialClient.RequestOptions,
    ): core.HttpResponsePromise<Samsara.V1VisionRunsByCameraAndProgramResponse> {
        return core.HttpResponsePromise.fromPromise(this.__v1GetVisionRunsByCameraAndProgram(request, requestOptions));
    }

    private async __v1GetVisionRunsByCameraAndProgram(
        request: Samsara.V1GetVisionRunsByCameraAndProgramRequest,
        requestOptions?: IndustrialClient.RequestOptions,
    ): Promise<core.WithRawResponse<Samsara.V1VisionRunsByCameraAndProgramResponse>> {
        const { camera_id: cameraId, program_id: programId, started_at_ms: startedAtMs, include } = request;
        const _queryParams: Record<string, unknown> = {
            include,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Samsara-Version": requestOptions?.version }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SamsaraEnvironment.ProductionApi,
                `v1/industrial/vision/runs/${core.url.encodePathParam(cameraId)}/${core.url.encodePathParam(programId)}/${core.url.encodePathParam(startedAtMs)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Samsara.V1VisionRunsByCameraAndProgramResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.SamsaraError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v1/industrial/vision/runs/{camera_id}/{program_id}/{started_at_ms}",
        );
    }

    /**
     * <n class="warning">
     * <nh>
     * <i class="fa fa-exclamation-circle"></i>
     * This endpoint is still on our legacy API.
     * </nh>
     * </n>
     *
     * Get historical data for machine objects. This method returns a set of historical data for all machines.
     *
     *  **Submit Feedback**: Likes, dislikes, and API feature requests should be filed as feedback in our <a href="https://forms.gle/zkD4NCH7HjKb7mm69" target="_blank">API feedback form</a>. If you encountered an issue or noticed inaccuracies in the API documentation, please <a href="https://www.samsara.com/help" target="_blank">submit a case</a> to our support team.
     *
     * To use this endpoint, select **Write Industrial** under the Industrial category when creating or editing an API token. <a href="https://developers.samsara.com/docs/authentication#scopes-for-api-tokens" target="_blank">Learn More.</a>
     *
     * @param {Samsara.InlineObject3} request
     * @param {IndustrialClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.industrial.v1GetMachinesHistory({
     *         endMs: 1462881998034,
     *         startMs: 1462878398034
     *     })
     */
    public v1GetMachinesHistory(
        request: Samsara.InlineObject3,
        requestOptions?: IndustrialClient.RequestOptions,
    ): core.HttpResponsePromise<Samsara.V1MachineHistoryResponse> {
        return core.HttpResponsePromise.fromPromise(this.__v1GetMachinesHistory(request, requestOptions));
    }

    private async __v1GetMachinesHistory(
        request: Samsara.InlineObject3,
        requestOptions?: IndustrialClient.RequestOptions,
    ): Promise<core.WithRawResponse<Samsara.V1MachineHistoryResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Samsara-Version": requestOptions?.version }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SamsaraEnvironment.ProductionApi,
                "v1/machines/history",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Samsara.V1MachineHistoryResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.SamsaraError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v1/machines/history");
    }

    /**
     * <n class="warning">
     * <nh>
     * <i class="fa fa-exclamation-circle"></i>
     * This endpoint is still on our legacy API.
     * </nh>
     * </n>
     *
     * Get machine objects. This method returns a list of the machine objects in the Samsara Cloud and information about them.
     *
     *  **Submit Feedback**: Likes, dislikes, and API feature requests should be filed as feedback in our <a href="https://forms.gle/zkD4NCH7HjKb7mm69" target="_blank">API feedback form</a>. If you encountered an issue or noticed inaccuracies in the API documentation, please <a href="https://www.samsara.com/help" target="_blank">submit a case</a> to our support team.
     *
     * To use this endpoint, select **Write Industrial** under the Industrial category when creating or editing an API token. <a href="https://developers.samsara.com/docs/authentication#scopes-for-api-tokens" target="_blank">Learn More.</a>
     *
     * @param {IndustrialClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.industrial.v1GetMachines()
     */
    public v1GetMachines(
        requestOptions?: IndustrialClient.RequestOptions,
    ): core.HttpResponsePromise<Samsara.InlineResponse2008> {
        return core.HttpResponsePromise.fromPromise(this.__v1GetMachines(requestOptions));
    }

    private async __v1GetMachines(
        requestOptions?: IndustrialClient.RequestOptions,
    ): Promise<core.WithRawResponse<Samsara.InlineResponse2008>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Samsara-Version": requestOptions?.version }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SamsaraEnvironment.ProductionApi,
                "v1/machines/list",
            ),
            method: "POST",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Samsara.InlineResponse2008, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.SamsaraError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v1/machines/list");
    }
}
