// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import type * as Samsara from "../../../index.js";

export declare namespace VehicleLocationsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class VehicleLocationsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<VehicleLocationsClient.Options>;

    constructor(options: VehicleLocationsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * ***NOTE: The Vehicle Locations API is an older API that does not combine GPS data with onboard diagnostics. Try our new [Vehicle Stats API](ref:getvehiclestats) instead.***
     *
     * Returns the last known location of all vehicles at the given `time`. If no `time` is specified, the current time is used. This can be optionally filtered by tags or specific vehicle IDs.
     *
     * Related guide: <a href="/docs/vehicle-locations-1" target="_blank">Vehicle Locations</a>.
     *
     *  **Submit Feedback**: Likes, dislikes, and API feature requests should be filed as feedback in our <a href="https://forms.gle/zkD4NCH7HjKb7mm69" target="_blank">API feedback form</a>. If you encountered an issue or noticed inaccuracies in the API documentation, please <a href="https://www.samsara.com/help" target="_blank">submit a case</a> to our support team.
     *
     * To use this endpoint, select **Read Vehicle Statistics** under the Vehicles category when creating or editing an API token. <a href="https://developers.samsara.com/docs/authentication#scopes-for-api-tokens" target="_blank">Learn More.</a>
     *
     * @param {Samsara.GetVehicleLocationsRequest} request
     * @param {VehicleLocationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.vehicleLocations.getVehicleLocations()
     */
    public getVehicleLocations(
        request: Samsara.GetVehicleLocationsRequest = {},
        requestOptions?: VehicleLocationsClient.RequestOptions,
    ): core.HttpResponsePromise<Samsara.VehicleLocationsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getVehicleLocations(request, requestOptions));
    }

    private async __getVehicleLocations(
        request: Samsara.GetVehicleLocationsRequest = {},
        requestOptions?: VehicleLocationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Samsara.VehicleLocationsResponse>> {
        const { after, time, parentTagIds, tagIds, vehicleIds } = request;
        const _queryParams: Record<string, unknown> = {
            after,
            time,
            parentTagIds,
            tagIds,
            vehicleIds,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Samsara-Version": requestOptions?.version }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SamsaraEnvironment.ProductionApi,
                "fleet/vehicles/locations",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Samsara.VehicleLocationsResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.SamsaraError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/fleet/vehicles/locations");
    }

    /**
     * ***NOTE: The Vehicle Locations API is an older API that does not combine GPS data with onboard diagnostics. Try our new [Vehicle Stats API](ref:getvehiclestatsfeed) instead.***
     *
     * Follow a continuous feed of all vehicle locations from Samsara Vehicle Gateways.
     *
     * Your first call to this endpoint will provide you with the most recent location for each vehicle and a `pagination` object that contains an `endCursor`.
     *
     * You can provide the `endCursor` to the `after` parameter of this endpoint to get location updates since that `endCursor`.
     *
     * If `hasNextPage` is `false`, no updates are readily available yet. We'd suggest waiting a minimum of 5 seconds before requesting updates.
     *
     * Related guide: <a href="/docs/vehicle-locations-1" target="_blank">Vehicle Locations</a>.
     *
     *  **Submit Feedback**: Likes, dislikes, and API feature requests should be filed as feedback in our <a href="https://forms.gle/zkD4NCH7HjKb7mm69" target="_blank">API feedback form</a>. If you encountered an issue or noticed inaccuracies in the API documentation, please <a href="https://www.samsara.com/help" target="_blank">submit a case</a> to our support team.
     *
     * To use this endpoint, select **Read Vehicle Statistics** under the Vehicle category when creating or editing an API token. <a href="https://developers.samsara.com/docs/authentication#scopes-for-api-tokens" target="_blank">Learn More.</a>
     *
     * @param {Samsara.GetVehicleLocationsFeedRequest} request
     * @param {VehicleLocationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.vehicleLocations.getVehicleLocationsFeed()
     */
    public getVehicleLocationsFeed(
        request: Samsara.GetVehicleLocationsFeedRequest = {},
        requestOptions?: VehicleLocationsClient.RequestOptions,
    ): core.HttpResponsePromise<Samsara.VehicleLocationsListResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getVehicleLocationsFeed(request, requestOptions));
    }

    private async __getVehicleLocationsFeed(
        request: Samsara.GetVehicleLocationsFeedRequest = {},
        requestOptions?: VehicleLocationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Samsara.VehicleLocationsListResponse>> {
        const { after, parentTagIds, tagIds, vehicleIds } = request;
        const _queryParams: Record<string, unknown> = {
            after,
            parentTagIds,
            tagIds,
            vehicleIds,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Samsara-Version": requestOptions?.version }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SamsaraEnvironment.ProductionApi,
                "fleet/vehicles/locations/feed",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Samsara.VehicleLocationsListResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.SamsaraError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/fleet/vehicles/locations/feed",
        );
    }

    /**
     * ***NOTE: The Vehicle Locations API is an older API that does not combine GPS data with onboard diagnostics. Try our new [Vehicle Stats API](ref:getvehiclestatshistory) instead.***
     *
     * Returns all known vehicle locations during the given time range. This can be optionally filtered by tags or specific vehicle IDs.
     *
     * Related guide: <a href="/docs/vehicle-locations-1" target="_blank">Vehicle Locations</a>.
     *
     *  **Submit Feedback**: Likes, dislikes, and API feature requests should be filed as feedback in our <a href="https://forms.gle/zkD4NCH7HjKb7mm69" target="_blank">API feedback form</a>. If you encountered an issue or noticed inaccuracies in the API documentation, please <a href="https://www.samsara.com/help" target="_blank">submit a case</a> to our support team.
     *
     * To use this endpoint, select **Read Vehicle Statistics** under the Vehicle category when creating or editing an API token. <a href="https://developers.samsara.com/docs/authentication#scopes-for-api-tokens" target="_blank">Learn More.</a>
     *
     * @param {Samsara.GetVehicleLocationsHistoryRequest} request
     * @param {VehicleLocationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.vehicleLocations.getVehicleLocationsHistory({
     *         startTime: "startTime",
     *         endTime: "endTime"
     *     })
     */
    public getVehicleLocationsHistory(
        request: Samsara.GetVehicleLocationsHistoryRequest,
        requestOptions?: VehicleLocationsClient.RequestOptions,
    ): core.HttpResponsePromise<Samsara.VehicleLocationsListResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getVehicleLocationsHistory(request, requestOptions));
    }

    private async __getVehicleLocationsHistory(
        request: Samsara.GetVehicleLocationsHistoryRequest,
        requestOptions?: VehicleLocationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Samsara.VehicleLocationsListResponse>> {
        const { after, startTime, endTime, parentTagIds, tagIds, vehicleIds } = request;
        const _queryParams: Record<string, unknown> = {
            after,
            startTime,
            endTime,
            parentTagIds,
            tagIds,
            vehicleIds,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Samsara-Version": requestOptions?.version }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SamsaraEnvironment.ProductionApi,
                "fleet/vehicles/locations/history",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Samsara.VehicleLocationsListResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.SamsaraError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/fleet/vehicles/locations/history",
        );
    }
}
