/**
 * This file was auto-generated by Fern from our API Definition.
 */

import * as environments from "../../../../../../environments.js";
import * as core from "../../../../../../core/index.js";
import * as Samsara from "../../../../../index.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../../../core/headers.js";
import urlJoin from "url-join";
import * as errors from "../../../../../../errors/index.js";

export declare namespace Stats {
    export interface Options {
        environment?: core.Supplier<environments.SamsaraEnvironment | string>;
        /** Specify a custom URL to connect the client to. */
        baseUrl?: core.Supplier<string>;
        token?: core.Supplier<core.BearerToken | undefined>;
        /** Override the X-Samsara-Version header */
        version?: "2025-05-12";
        /** Additional headers to include in requests. */
        headers?: Record<string, string | core.Supplier<string | undefined> | undefined>;
    }

    export interface RequestOptions {
        /** The maximum time to wait for a response in seconds. */
        timeoutInSeconds?: number;
        /** The number of times to retry the request. Defaults to 2. */
        maxRetries?: number;
        /** A hook to abort the request. */
        abortSignal?: AbortSignal;
        /** Additional headers to include in the request. */
        headers?: Record<string, string | core.Supplier<string | undefined> | undefined>;
        /** Override the X-Samsara-Version header */
        version?: "2025-05-12";
    }
}

export class Stats {
    protected readonly _options: Stats.Options;

    constructor(_options: Stats.Options = {}) {
        this._options = _options;
    }

    /**
     * Returns the last known stats of all vehicles at the given `time`. If no `time` is specified, the current time is used.
     *
     * Related guide: <a href="/docs/telematics" target="_blank">Telematics</a>.
     *
     *  **Submit Feedback**: Likes, dislikes, and API feature requests should be filed as feedback in our <a href="https://forms.gle/zkD4NCH7HjKb7mm69" target="_blank">API feedback form</a>. If you encountered an issue or noticed inaccuracies in the API documentation, please <a href="https://www.samsara.com/help" target="_blank">submit a case</a> to our support team.
     *
     * To use this endpoint, select **Read Vehicle Statistics** under the Vehicles category when creating or editing an API token. <a href="https://developers.samsara.com/docs/authentication#scopes-for-api-tokens" target="_blank">Learn More.</a>
     *
     * @param {Samsara.vehicles.StatsListRequest} request
     * @param {Stats.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.vehicles.stats.list()
     */
    public async list(
        request: Samsara.vehicles.StatsListRequest = {},
        requestOptions?: Stats.RequestOptions,
    ): Promise<core.Page<Samsara.VehicleStatsResponseData>> {
        const list = core.HttpResponsePromise.interceptFunction(
            async (
                request: Samsara.vehicles.StatsListRequest,
            ): Promise<core.WithRawResponse<Samsara.VehicleStatsResponse>> => {
                const { after, time, parentTagIds, tagIds, vehicleIds, types } = request;
                const _queryParams: Record<string, string | string[] | object | object[] | null> = {};
                if (after != null) {
                    _queryParams["after"] = after;
                }
                if (time != null) {
                    _queryParams["time"] = time;
                }
                if (parentTagIds != null) {
                    if (Array.isArray(parentTagIds)) {
                        _queryParams["parentTagIds"] = parentTagIds.map((item) => item);
                    } else {
                        _queryParams["parentTagIds"] = parentTagIds;
                    }
                }
                if (tagIds != null) {
                    if (Array.isArray(tagIds)) {
                        _queryParams["tagIds"] = tagIds.map((item) => item);
                    } else {
                        _queryParams["tagIds"] = tagIds;
                    }
                }
                if (vehicleIds != null) {
                    if (Array.isArray(vehicleIds)) {
                        _queryParams["vehicleIds"] = vehicleIds.map((item) => item);
                    } else {
                        _queryParams["vehicleIds"] = vehicleIds;
                    }
                }
                if (types != null) {
                    if (Array.isArray(types)) {
                        _queryParams["types"] = types.map((item) => item);
                    } else {
                        _queryParams["types"] = types;
                    }
                }
                const _response = await core.fetcher({
                    url: urlJoin(
                        (await core.Supplier.get(this._options.baseUrl)) ??
                            (await core.Supplier.get(this._options.environment)) ??
                            environments.SamsaraEnvironment.ProductionApi,
                        "fleet/vehicles/stats",
                    ),
                    method: "GET",
                    headers: mergeHeaders(
                        this._options?.headers,
                        mergeOnlyDefinedHeaders({
                            Authorization: await this._getAuthorizationHeader(),
                            "X-Samsara-Version": requestOptions?.version,
                        }),
                        requestOptions?.headers,
                    ),
                    queryParameters: _queryParams,
                    timeoutMs:
                        requestOptions?.timeoutInSeconds != null ? requestOptions.timeoutInSeconds * 1000 : 60000,
                    maxRetries: requestOptions?.maxRetries,
                    abortSignal: requestOptions?.abortSignal,
                });
                if (_response.ok) {
                    return { data: _response.body as Samsara.VehicleStatsResponse, rawResponse: _response.rawResponse };
                }
                if (_response.error.reason === "status-code") {
                    throw new errors.SamsaraError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
                }
                switch (_response.error.reason) {
                    case "non-json":
                        throw new errors.SamsaraError({
                            statusCode: _response.error.statusCode,
                            body: _response.error.rawBody,
                            rawResponse: _response.rawResponse,
                        });
                    case "timeout":
                        throw new errors.SamsaraTimeoutError(
                            "Timeout exceeded when calling GET /fleet/vehicles/stats.",
                        );
                    case "unknown":
                        throw new errors.SamsaraError({
                            message: _response.error.errorMessage,
                            rawResponse: _response.rawResponse,
                        });
                }
            },
        );
        const dataWithRawResponse = await list(request).withRawResponse();
        return new core.Pageable<Samsara.VehicleStatsResponse, Samsara.VehicleStatsResponseData>({
            response: dataWithRawResponse.data,
            rawResponse: dataWithRawResponse.rawResponse,
            hasNextPage: (response) => response?.pagination?.endCursor != null,
            getItems: (response) => response?.data ?? [],
            loadPage: (response) => {
                return list(core.setObjectProperty(request, "after", response?.pagination?.endCursor));
            },
        });
    }

    /**
     * Follow a feed of vehicle stats.
     *
     * Your first call to this endpoint will provide you with the most recent stats for each vehicle and an `endCursor`.
     *
     * You can the provide the `endCursor` value to the `after` query parameter to get all updates since the last call you made.
     *
     * If `hasNextPage` is `false`, no new data is immediately available. You should wait a minimum of 5 seconds making a subsequent request.
     *
     * Related guide: <a href="/docs/telematics" target="_blank">Telematics</a>.
     *
     *  **Submit Feedback**: Likes, dislikes, and API feature requests should be filed as feedback in our <a href="https://forms.gle/zkD4NCH7HjKb7mm69" target="_blank">API feedback form</a>. If you encountered an issue or noticed inaccuracies in the API documentation, please <a href="https://www.samsara.com/help" target="_blank">submit a case</a> to our support team.
     *
     * To use this endpoint, select **Read Vehicle Statistics** under the Vehicles category when creating or editing an API token. <a href="https://developers.samsara.com/docs/authentication#scopes-for-api-tokens" target="_blank">Learn More.</a>
     *
     * @param {Samsara.vehicles.StatsFeedRequest} request
     * @param {Stats.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.vehicles.stats.feed()
     */
    public async feed(
        request: Samsara.vehicles.StatsFeedRequest = {},
        requestOptions?: Stats.RequestOptions,
    ): Promise<core.Page<Samsara.VehicleStatsListResponseData>> {
        const list = core.HttpResponsePromise.interceptFunction(
            async (
                request: Samsara.vehicles.StatsFeedRequest,
            ): Promise<core.WithRawResponse<Samsara.VehicleStatsListResponse>> => {
                const { after, parentTagIds, tagIds, vehicleIds, types, decorations } = request;
                const _queryParams: Record<string, string | string[] | object | object[] | null> = {};
                if (after != null) {
                    _queryParams["after"] = after;
                }
                if (parentTagIds != null) {
                    if (Array.isArray(parentTagIds)) {
                        _queryParams["parentTagIds"] = parentTagIds.map((item) => item);
                    } else {
                        _queryParams["parentTagIds"] = parentTagIds;
                    }
                }
                if (tagIds != null) {
                    if (Array.isArray(tagIds)) {
                        _queryParams["tagIds"] = tagIds.map((item) => item);
                    } else {
                        _queryParams["tagIds"] = tagIds;
                    }
                }
                if (vehicleIds != null) {
                    if (Array.isArray(vehicleIds)) {
                        _queryParams["vehicleIds"] = vehicleIds.map((item) => item);
                    } else {
                        _queryParams["vehicleIds"] = vehicleIds;
                    }
                }
                if (types != null) {
                    if (Array.isArray(types)) {
                        _queryParams["types"] = types.map((item) => item);
                    } else {
                        _queryParams["types"] = types;
                    }
                }
                if (decorations != null) {
                    if (Array.isArray(decorations)) {
                        _queryParams["decorations"] = decorations.map((item) => item);
                    } else {
                        _queryParams["decorations"] = decorations;
                    }
                }
                const _response = await core.fetcher({
                    url: urlJoin(
                        (await core.Supplier.get(this._options.baseUrl)) ??
                            (await core.Supplier.get(this._options.environment)) ??
                            environments.SamsaraEnvironment.ProductionApi,
                        "fleet/vehicles/stats/feed",
                    ),
                    method: "GET",
                    headers: mergeHeaders(
                        this._options?.headers,
                        mergeOnlyDefinedHeaders({
                            Authorization: await this._getAuthorizationHeader(),
                            "X-Samsara-Version": requestOptions?.version,
                        }),
                        requestOptions?.headers,
                    ),
                    queryParameters: _queryParams,
                    timeoutMs:
                        requestOptions?.timeoutInSeconds != null ? requestOptions.timeoutInSeconds * 1000 : 60000,
                    maxRetries: requestOptions?.maxRetries,
                    abortSignal: requestOptions?.abortSignal,
                });
                if (_response.ok) {
                    return {
                        data: _response.body as Samsara.VehicleStatsListResponse,
                        rawResponse: _response.rawResponse,
                    };
                }
                if (_response.error.reason === "status-code") {
                    throw new errors.SamsaraError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
                }
                switch (_response.error.reason) {
                    case "non-json":
                        throw new errors.SamsaraError({
                            statusCode: _response.error.statusCode,
                            body: _response.error.rawBody,
                            rawResponse: _response.rawResponse,
                        });
                    case "timeout":
                        throw new errors.SamsaraTimeoutError(
                            "Timeout exceeded when calling GET /fleet/vehicles/stats/feed.",
                        );
                    case "unknown":
                        throw new errors.SamsaraError({
                            message: _response.error.errorMessage,
                            rawResponse: _response.rawResponse,
                        });
                }
            },
        );
        const dataWithRawResponse = await list(request).withRawResponse();
        return new core.Pageable<Samsara.VehicleStatsListResponse, Samsara.VehicleStatsListResponseData>({
            response: dataWithRawResponse.data,
            rawResponse: dataWithRawResponse.rawResponse,
            hasNextPage: (response) => response?.pagination?.endCursor != null,
            getItems: (response) => response?.data ?? [],
            loadPage: (response) => {
                return list(core.setObjectProperty(request, "after", response?.pagination?.endCursor));
            },
        });
    }

    /**
     * Returns vehicle stats during the given time range for all vehicles. This can be optionally filtered by tags or specific vehicle IDs.
     *
     * Related guide: <a href="/docs/telematics" target="_blank">Telematics</a>.
     *
     *  **Submit Feedback**: Likes, dislikes, and API feature requests should be filed as feedback in our <a href="https://forms.gle/zkD4NCH7HjKb7mm69" target="_blank">API feedback form</a>. If you encountered an issue or noticed inaccuracies in the API documentation, please <a href="https://www.samsara.com/help" target="_blank">submit a case</a> to our support team.
     *
     * To use this endpoint, select **Read Vehicle Statistics** under the Vehicles category when creating or editing an API token. <a href="https://developers.samsara.com/docs/authentication#scopes-for-api-tokens" target="_blank">Learn More.</a>
     *
     * @param {Samsara.vehicles.StatsHistoryRequest} request
     * @param {Stats.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.vehicles.stats.history({
     *         startTime: "startTime",
     *         endTime: "endTime"
     *     })
     */
    public async history(
        request: Samsara.vehicles.StatsHistoryRequest,
        requestOptions?: Stats.RequestOptions,
    ): Promise<core.Page<Samsara.VehicleStatsListResponseData>> {
        const list = core.HttpResponsePromise.interceptFunction(
            async (
                request: Samsara.vehicles.StatsHistoryRequest,
            ): Promise<core.WithRawResponse<Samsara.VehicleStatsListResponse>> => {
                const { after, startTime, endTime, parentTagIds, tagIds, vehicleIds, types, decorations } = request;
                const _queryParams: Record<string, string | string[] | object | object[] | null> = {};
                if (after != null) {
                    _queryParams["after"] = after;
                }
                _queryParams["startTime"] = startTime;
                _queryParams["endTime"] = endTime;
                if (parentTagIds != null) {
                    if (Array.isArray(parentTagIds)) {
                        _queryParams["parentTagIds"] = parentTagIds.map((item) => item);
                    } else {
                        _queryParams["parentTagIds"] = parentTagIds;
                    }
                }
                if (tagIds != null) {
                    if (Array.isArray(tagIds)) {
                        _queryParams["tagIds"] = tagIds.map((item) => item);
                    } else {
                        _queryParams["tagIds"] = tagIds;
                    }
                }
                if (vehicleIds != null) {
                    if (Array.isArray(vehicleIds)) {
                        _queryParams["vehicleIds"] = vehicleIds.map((item) => item);
                    } else {
                        _queryParams["vehicleIds"] = vehicleIds;
                    }
                }
                if (types != null) {
                    if (Array.isArray(types)) {
                        _queryParams["types"] = types.map((item) => item);
                    } else {
                        _queryParams["types"] = types;
                    }
                }
                if (decorations != null) {
                    if (Array.isArray(decorations)) {
                        _queryParams["decorations"] = decorations.map((item) => item);
                    } else {
                        _queryParams["decorations"] = decorations;
                    }
                }
                const _response = await core.fetcher({
                    url: urlJoin(
                        (await core.Supplier.get(this._options.baseUrl)) ??
                            (await core.Supplier.get(this._options.environment)) ??
                            environments.SamsaraEnvironment.ProductionApi,
                        "fleet/vehicles/stats/history",
                    ),
                    method: "GET",
                    headers: mergeHeaders(
                        this._options?.headers,
                        mergeOnlyDefinedHeaders({
                            Authorization: await this._getAuthorizationHeader(),
                            "X-Samsara-Version": requestOptions?.version,
                        }),
                        requestOptions?.headers,
                    ),
                    queryParameters: _queryParams,
                    timeoutMs:
                        requestOptions?.timeoutInSeconds != null ? requestOptions.timeoutInSeconds * 1000 : 60000,
                    maxRetries: requestOptions?.maxRetries,
                    abortSignal: requestOptions?.abortSignal,
                });
                if (_response.ok) {
                    return {
                        data: _response.body as Samsara.VehicleStatsListResponse,
                        rawResponse: _response.rawResponse,
                    };
                }
                if (_response.error.reason === "status-code") {
                    throw new errors.SamsaraError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
                }
                switch (_response.error.reason) {
                    case "non-json":
                        throw new errors.SamsaraError({
                            statusCode: _response.error.statusCode,
                            body: _response.error.rawBody,
                            rawResponse: _response.rawResponse,
                        });
                    case "timeout":
                        throw new errors.SamsaraTimeoutError(
                            "Timeout exceeded when calling GET /fleet/vehicles/stats/history.",
                        );
                    case "unknown":
                        throw new errors.SamsaraError({
                            message: _response.error.errorMessage,
                            rawResponse: _response.rawResponse,
                        });
                }
            },
        );
        const dataWithRawResponse = await list(request).withRawResponse();
        return new core.Pageable<Samsara.VehicleStatsListResponse, Samsara.VehicleStatsListResponseData>({
            response: dataWithRawResponse.data,
            rawResponse: dataWithRawResponse.rawResponse,
            hasNextPage: (response) => response?.pagination?.endCursor != null,
            getItems: (response) => response?.data ?? [],
            loadPage: (response) => {
                return list(core.setObjectProperty(request, "after", response?.pagination?.endCursor));
            },
        });
    }

    protected async _getAuthorizationHeader(): Promise<string> {
        const bearer = (await core.Supplier.get(this._options.token)) ?? process?.env["SAMSARA_API_KEY"];
        if (bearer == null) {
            throw new errors.SamsaraError({
                message:
                    "Please specify a bearer by either passing it in to the constructor or initializing a SAMSARA_API_KEY environment variable",
            });
        }

        return `Bearer ${bearer}`;
    }
}
