// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import type * as Samsara from "../../../index.js";

export declare namespace EquipmentClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class EquipmentClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<EquipmentClient.Options>;

    constructor(options: EquipmentClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Returns a list of all equipment in an organization.
     *
     * @param {Samsara.ListEquipmentRequest} request
     * @param {EquipmentClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.equipment.listEquipment()
     */
    public listEquipment(
        request: Samsara.ListEquipmentRequest = {},
        requestOptions?: EquipmentClient.RequestOptions,
    ): core.HttpResponsePromise<Samsara.EquipmentListResponse> {
        return core.HttpResponsePromise.fromPromise(this.__listEquipment(request, requestOptions));
    }

    private async __listEquipment(
        request: Samsara.ListEquipmentRequest = {},
        requestOptions?: EquipmentClient.RequestOptions,
    ): Promise<core.WithRawResponse<Samsara.EquipmentListResponse>> {
        const { limit, after, parentTagIds, tagIds } = request;
        const _queryParams: Record<string, unknown> = {
            limit,
            after,
            parentTagIds,
            tagIds,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Samsara-Version": requestOptions?.version }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SamsaraEnvironment.ProductionApi,
                "fleet/equipment",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Samsara.EquipmentListResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.SamsaraError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/fleet/equipment");
    }

    /**
     * Returns last known locations for all equipment. This can be optionally filtered by tags or specific equipment IDs.
     *
     *  **Submit Feedback**: Likes, dislikes, and API feature requests should be filed as feedback in our <a href="https://forms.gle/zkD4NCH7HjKb7mm69" target="_blank">API feedback form</a>. If you encountered an issue or noticed inaccuracies in the API documentation, please <a href="https://www.samsara.com/help" target="_blank">submit a case</a> to our support team.
     *
     * To use this endpoint, select **Read Equipment Statistics** under the Equipment category when creating or editing an API token. <a href="https://developers.samsara.com/docs/authentication#scopes-for-api-tokens" target="_blank">Learn More.</a>
     *
     * @param {Samsara.GetEquipmentLocationsRequest} request
     * @param {EquipmentClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.equipment.getEquipmentLocations()
     */
    public getEquipmentLocations(
        request: Samsara.GetEquipmentLocationsRequest = {},
        requestOptions?: EquipmentClient.RequestOptions,
    ): core.HttpResponsePromise<Samsara.EquipmentLocationsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getEquipmentLocations(request, requestOptions));
    }

    private async __getEquipmentLocations(
        request: Samsara.GetEquipmentLocationsRequest = {},
        requestOptions?: EquipmentClient.RequestOptions,
    ): Promise<core.WithRawResponse<Samsara.EquipmentLocationsResponse>> {
        const { after, parentTagIds, tagIds, equipmentIds } = request;
        const _queryParams: Record<string, unknown> = {
            after,
            parentTagIds,
            tagIds,
            equipmentIds,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Samsara-Version": requestOptions?.version }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SamsaraEnvironment.ProductionApi,
                "fleet/equipment/locations",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Samsara.EquipmentLocationsResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.SamsaraError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/fleet/equipment/locations");
    }

    /**
     * Follow a continuous feed of all equipment locations.
     *
     * Your first call to this endpoint will provide you with the most recent location for each unit of equipment and a `pagination` object that contains an `endCursor`.
     *
     * You can provide the `endCursor` to subsequent calls via the `after` parameter. The response will contain any equipment location updates since that `endCursor`.
     *
     * If `hasNextPage` is `false`, no updates are readily available yet. We'd suggest waiting a minimum of 5 seconds before requesting updates.
     *
     *  **Submit Feedback**: Likes, dislikes, and API feature requests should be filed as feedback in our <a href="https://forms.gle/zkD4NCH7HjKb7mm69" target="_blank">API feedback form</a>. If you encountered an issue or noticed inaccuracies in the API documentation, please <a href="https://www.samsara.com/help" target="_blank">submit a case</a> to our support team.
     *
     * To use this endpoint, select **Read Equipment Statistics** under the Equipment category when creating or editing an API token. <a href="https://developers.samsara.com/docs/authentication#scopes-for-api-tokens" target="_blank">Learn More.</a>
     *
     * @param {Samsara.GetEquipmentLocationsFeedRequest} request
     * @param {EquipmentClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.equipment.getEquipmentLocationsFeed()
     */
    public getEquipmentLocationsFeed(
        request: Samsara.GetEquipmentLocationsFeedRequest = {},
        requestOptions?: EquipmentClient.RequestOptions,
    ): core.HttpResponsePromise<Samsara.EquipmentLocationsListResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getEquipmentLocationsFeed(request, requestOptions));
    }

    private async __getEquipmentLocationsFeed(
        request: Samsara.GetEquipmentLocationsFeedRequest = {},
        requestOptions?: EquipmentClient.RequestOptions,
    ): Promise<core.WithRawResponse<Samsara.EquipmentLocationsListResponse>> {
        const { after, parentTagIds, tagIds, equipmentIds } = request;
        const _queryParams: Record<string, unknown> = {
            after,
            parentTagIds,
            tagIds,
            equipmentIds,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Samsara-Version": requestOptions?.version }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SamsaraEnvironment.ProductionApi,
                "fleet/equipment/locations/feed",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Samsara.EquipmentLocationsListResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.SamsaraError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/fleet/equipment/locations/feed",
        );
    }

    /**
     * Returns historical equipment locations during the given time range. This can be optionally filtered by tags or specific equipment IDs.
     *
     *  **Submit Feedback**: Likes, dislikes, and API feature requests should be filed as feedback in our <a href="https://forms.gle/zkD4NCH7HjKb7mm69" target="_blank">API feedback form</a>. If you encountered an issue or noticed inaccuracies in the API documentation, please <a href="https://www.samsara.com/help" target="_blank">submit a case</a> to our support team.
     *
     * To use this endpoint, select **Read Equipment Statistics** under the Equipment category when creating or editing an API token. <a href="https://developers.samsara.com/docs/authentication#scopes-for-api-tokens" target="_blank">Learn More.</a>
     *
     * @param {Samsara.GetEquipmentLocationsHistoryRequest} request
     * @param {EquipmentClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.equipment.getEquipmentLocationsHistory({
     *         startTime: "startTime",
     *         endTime: "endTime"
     *     })
     */
    public getEquipmentLocationsHistory(
        request: Samsara.GetEquipmentLocationsHistoryRequest,
        requestOptions?: EquipmentClient.RequestOptions,
    ): core.HttpResponsePromise<Samsara.EquipmentLocationsListResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getEquipmentLocationsHistory(request, requestOptions));
    }

    private async __getEquipmentLocationsHistory(
        request: Samsara.GetEquipmentLocationsHistoryRequest,
        requestOptions?: EquipmentClient.RequestOptions,
    ): Promise<core.WithRawResponse<Samsara.EquipmentLocationsListResponse>> {
        const { after, startTime, endTime, parentTagIds, tagIds, equipmentIds } = request;
        const _queryParams: Record<string, unknown> = {
            after,
            startTime,
            endTime,
            parentTagIds,
            tagIds,
            equipmentIds,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Samsara-Version": requestOptions?.version }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SamsaraEnvironment.ProductionApi,
                "fleet/equipment/locations/history",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Samsara.EquipmentLocationsListResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.SamsaraError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/fleet/equipment/locations/history",
        );
    }

    /**
     * Returns the last known stats for all equipment. This can be optionally filtered by tags or specific equipment IDs.
     *
     *  <b>Rate limit:</b> 150 requests/sec (learn more about rate limits <a href="https://developers.samsara.com/docs/rate-limits" target="_blank">here</a>).
     *
     *  **Submit Feedback**: Likes, dislikes, and API feature requests should be filed as feedback in our <a href="https://forms.gle/zkD4NCH7HjKb7mm69" target="_blank">API feedback form</a>. If you encountered an issue or noticed inaccuracies in the API documentation, please <a href="https://www.samsara.com/help" target="_blank">submit a case</a> to our support team.
     *
     * To use this endpoint, select **Read Equipment Statistics** under the Equipment category when creating or editing an API token. <a href="https://developers.samsara.com/docs/authentication#scopes-for-api-tokens" target="_blank">Learn More.</a>
     *
     * @param {Samsara.GetEquipmentStatsRequest} request
     * @param {EquipmentClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.equipment.getEquipmentStats()
     */
    public getEquipmentStats(
        request: Samsara.GetEquipmentStatsRequest = {},
        requestOptions?: EquipmentClient.RequestOptions,
    ): core.HttpResponsePromise<Samsara.EquipmentStatsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getEquipmentStats(request, requestOptions));
    }

    private async __getEquipmentStats(
        request: Samsara.GetEquipmentStatsRequest = {},
        requestOptions?: EquipmentClient.RequestOptions,
    ): Promise<core.WithRawResponse<Samsara.EquipmentStatsResponse>> {
        const { after, parentTagIds, tagIds, equipmentIds, types } = request;
        const _queryParams: Record<string, unknown> = {
            after,
            parentTagIds,
            tagIds,
            equipmentIds,
            types: Array.isArray(types) ? types.map((item) => item) : types != null ? types : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Samsara-Version": requestOptions?.version }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SamsaraEnvironment.ProductionApi,
                "fleet/equipment/stats",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Samsara.EquipmentStatsResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.SamsaraError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/fleet/equipment/stats");
    }

    /**
     * Follow a continuous feed of all equipment stats.
     *
     * Your first call to this endpoint will provide you with the most recent stats for each unit of equipment and a `pagination` object that contains an `endCursor`.
     *
     * You can provide the `endCursor` to subsequent calls via the `after` parameter. The response will contain any equipment stats updates since that `endCursor`.
     *
     * If `hasNextPage` is `false`, no updates are readily available yet. Each stat type has a different refresh rate, but in general we'd suggest waiting a minimum of 5 seconds before requesting updates.
     *
     *  <b>Rate limit:</b> 150 requests/sec (learn more about rate limits <a href="https://developers.samsara.com/docs/rate-limits" target="_blank">here</a>).
     *
     *  **Submit Feedback**: Likes, dislikes, and API feature requests should be filed as feedback in our <a href="https://forms.gle/zkD4NCH7HjKb7mm69" target="_blank">API feedback form</a>. If you encountered an issue or noticed inaccuracies in the API documentation, please <a href="https://www.samsara.com/help" target="_blank">submit a case</a> to our support team.
     *
     * To use this endpoint, select **Read Equipment Statistics** under the Equipment category when creating or editing an API token. <a href="https://developers.samsara.com/docs/authentication#scopes-for-api-tokens" target="_blank">Learn More.</a>
     *
     * @param {Samsara.GetEquipmentStatsFeedRequest} request
     * @param {EquipmentClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.equipment.getEquipmentStatsFeed()
     */
    public getEquipmentStatsFeed(
        request: Samsara.GetEquipmentStatsFeedRequest = {},
        requestOptions?: EquipmentClient.RequestOptions,
    ): core.HttpResponsePromise<Samsara.EquipmentStatsListResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getEquipmentStatsFeed(request, requestOptions));
    }

    private async __getEquipmentStatsFeed(
        request: Samsara.GetEquipmentStatsFeedRequest = {},
        requestOptions?: EquipmentClient.RequestOptions,
    ): Promise<core.WithRawResponse<Samsara.EquipmentStatsListResponse>> {
        const { after, parentTagIds, tagIds, equipmentIds, types } = request;
        const _queryParams: Record<string, unknown> = {
            after,
            parentTagIds,
            tagIds,
            equipmentIds,
            types: Array.isArray(types) ? types.map((item) => item) : types != null ? types : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Samsara-Version": requestOptions?.version }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SamsaraEnvironment.ProductionApi,
                "fleet/equipment/stats/feed",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Samsara.EquipmentStatsListResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.SamsaraError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/fleet/equipment/stats/feed");
    }

    /**
     * Returns historical equipment status during the given time range. This can be optionally filtered by tags or specific equipment IDs.
     *
     *  <b>Rate limit:</b> 150 requests/sec (learn more about rate limits <a href="https://developers.samsara.com/docs/rate-limits" target="_blank">here</a>).
     *
     *  **Submit Feedback**: Likes, dislikes, and API feature requests should be filed as feedback in our <a href="https://forms.gle/zkD4NCH7HjKb7mm69" target="_blank">API feedback form</a>. If you encountered an issue or noticed inaccuracies in the API documentation, please <a href="https://www.samsara.com/help" target="_blank">submit a case</a> to our support team.
     *
     * To use this endpoint, select **Read Equipment Statistics** under the Equipment category when creating or editing an API token. <a href="https://developers.samsara.com/docs/authentication#scopes-for-api-tokens" target="_blank">Learn More.</a>
     *
     * @param {Samsara.GetEquipmentStatsHistoryRequest} request
     * @param {EquipmentClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.equipment.getEquipmentStatsHistory({
     *         startTime: "startTime",
     *         endTime: "endTime"
     *     })
     */
    public getEquipmentStatsHistory(
        request: Samsara.GetEquipmentStatsHistoryRequest,
        requestOptions?: EquipmentClient.RequestOptions,
    ): core.HttpResponsePromise<Samsara.EquipmentStatsListResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getEquipmentStatsHistory(request, requestOptions));
    }

    private async __getEquipmentStatsHistory(
        request: Samsara.GetEquipmentStatsHistoryRequest,
        requestOptions?: EquipmentClient.RequestOptions,
    ): Promise<core.WithRawResponse<Samsara.EquipmentStatsListResponse>> {
        const { after, startTime, endTime, parentTagIds, tagIds, equipmentIds, types } = request;
        const _queryParams: Record<string, unknown> = {
            after,
            startTime,
            endTime,
            parentTagIds,
            tagIds,
            equipmentIds,
            types: Array.isArray(types) ? types.map((item) => item) : types != null ? types : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Samsara-Version": requestOptions?.version }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SamsaraEnvironment.ProductionApi,
                "fleet/equipment/stats/history",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Samsara.EquipmentStatsListResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.SamsaraError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/fleet/equipment/stats/history",
        );
    }

    /**
     * Retrieves the unit of equipment with the given Samsara ID.
     *
     *  **Submit Feedback**: Likes, dislikes, and API feature requests should be filed as feedback in our <a href="https://forms.gle/zkD4NCH7HjKb7mm69" target="_blank">API feedback form</a>. If you encountered an issue or noticed inaccuracies in the API documentation, please <a href="https://www.samsara.com/help" target="_blank">submit a case</a> to our support team.
     *
     * To use this endpoint, select **Read Equipment** under the Equipment category when creating or editing an API token. <a href="https://developers.samsara.com/docs/authentication#scopes-for-api-tokens" target="_blank">Learn More.</a>
     *
     * @param {string} id - Samsara ID of the Equipment.
     * @param {EquipmentClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.equipment.getEquipment("id")
     */
    public getEquipment(
        id: string,
        requestOptions?: EquipmentClient.RequestOptions,
    ): core.HttpResponsePromise<Samsara.EquipmentResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getEquipment(id, requestOptions));
    }

    private async __getEquipment(
        id: string,
        requestOptions?: EquipmentClient.RequestOptions,
    ): Promise<core.WithRawResponse<Samsara.EquipmentResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Samsara-Version": requestOptions?.version }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SamsaraEnvironment.ProductionApi,
                `fleet/equipment/${core.url.encodePathParam(id)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Samsara.EquipmentResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.SamsaraError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/fleet/equipment/{id}");
    }
}
