// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import type * as Samsara from "../../../index.js";

export declare namespace TrailerAssignmentsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class TrailerAssignmentsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<TrailerAssignmentsClient.Options>;

    constructor(options: TrailerAssignmentsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * <n class="warning">
     * <nh>
     * <i class="fa fa-exclamation-circle"></i>
     * This endpoint is still on our legacy API.
     * </nh>
     * </n>
     *
     * Fetch trailer assignment data for all trailers in your organization.
     *
     *  <b>Rate limit:</b> 25 requests/sec (learn more about rate limits <a href="https://developers.samsara.com/docs/rate-limits" target="_blank">here</a>).
     *
     *  **Submit Feedback**: Likes, dislikes, and API feature requests should be filed as feedback in our <a href="https://forms.gle/zkD4NCH7HjKb7mm69" target="_blank">API feedback form</a>. If you encountered an issue or noticed inaccuracies in the API documentation, please <a href="https://www.samsara.com/help" target="_blank">submit a case</a> to our support team.
     *
     * To use this endpoint, select **Read Assignments** under the Assignments category when creating or editing an API token. <a href="https://developers.samsara.com/docs/authentication#scopes-for-api-tokens" target="_blank">Learn More.</a>
     *
     * @param {Samsara.V1GetAllTrailerAssignmentsRequest} request
     * @param {TrailerAssignmentsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.trailerAssignments.v1GetAllTrailerAssignments()
     */
    public v1GetAllTrailerAssignments(
        request: Samsara.V1GetAllTrailerAssignmentsRequest = {},
        requestOptions?: TrailerAssignmentsClient.RequestOptions,
    ): core.HttpResponsePromise<Samsara.InlineResponse2007> {
        return core.HttpResponsePromise.fromPromise(this.__v1GetAllTrailerAssignments(request, requestOptions));
    }

    private async __v1GetAllTrailerAssignments(
        request: Samsara.V1GetAllTrailerAssignmentsRequest = {},
        requestOptions?: TrailerAssignmentsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Samsara.InlineResponse2007>> {
        const { startMs, endMs, limit, startingAfter, endingBefore } = request;
        const _queryParams: Record<string, unknown> = {
            startMs,
            endMs,
            limit,
            startingAfter,
            endingBefore,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Samsara-Version": requestOptions?.version }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SamsaraEnvironment.ProductionApi,
                "v1/fleet/trailers/assignments",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Samsara.InlineResponse2007, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.SamsaraError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v1/fleet/trailers/assignments",
        );
    }

    /**
     * <n class="warning">
     * <nh>
     * <i class="fa fa-exclamation-circle"></i>
     * This endpoint is still on our legacy API.
     * </nh>
     * </n>
     *
     * Fetch trailer assignment data for a single trailer.
     *
     *  <b>Rate limit:</b> 25 requests/sec (learn more about rate limits <a href="https://developers.samsara.com/docs/rate-limits" target="_blank">here</a>).
     *
     *  **Submit Feedback**: Likes, dislikes, and API feature requests should be filed as feedback in our <a href="https://forms.gle/zkD4NCH7HjKb7mm69" target="_blank">API feedback form</a>. If you encountered an issue or noticed inaccuracies in the API documentation, please <a href="https://www.samsara.com/help" target="_blank">submit a case</a> to our support team.
     *
     * To use this endpoint, select **Read Assignments** under the Assignments category when creating or editing an API token. <a href="https://developers.samsara.com/docs/authentication#scopes-for-api-tokens" target="_blank">Learn More.</a>
     *
     * @param {number} trailerId - ID of trailer. Must contain only digits 0-9.
     * @param {Samsara.V1GetFleetTrailerAssignmentsRequest} request
     * @param {TrailerAssignmentsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.trailerAssignments.v1GetFleetTrailerAssignments(1000000)
     */
    public v1GetFleetTrailerAssignments(
        trailerId: number,
        request: Samsara.V1GetFleetTrailerAssignmentsRequest = {},
        requestOptions?: TrailerAssignmentsClient.RequestOptions,
    ): core.HttpResponsePromise<Samsara.V1TrailerAssignmentsResponse> {
        return core.HttpResponsePromise.fromPromise(
            this.__v1GetFleetTrailerAssignments(trailerId, request, requestOptions),
        );
    }

    private async __v1GetFleetTrailerAssignments(
        trailerId: number,
        request: Samsara.V1GetFleetTrailerAssignmentsRequest = {},
        requestOptions?: TrailerAssignmentsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Samsara.V1TrailerAssignmentsResponse>> {
        const { startMs, endMs } = request;
        const _queryParams: Record<string, unknown> = {
            startMs,
            endMs,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Samsara-Version": requestOptions?.version }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SamsaraEnvironment.ProductionApi,
                `v1/fleet/trailers/${core.url.encodePathParam(trailerId)}/assignments`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Samsara.V1TrailerAssignmentsResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.SamsaraError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v1/fleet/trailers/{trailerId}/assignments",
        );
    }
}
