// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import type * as Samsara from "../../../index.js";

export declare namespace CarrierProposedAssignmentsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class CarrierProposedAssignmentsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<CarrierProposedAssignmentsClient.Options>;

    constructor(options: CarrierProposedAssignmentsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Show the assignments created by the POST fleet/carrier-proposed-assignments. This endpoint will only show the assignments that are active for drivers and currently visible to them in the driver app. Once a proposed assignment has been accepted, the endpoint will not return any data.
     *
     *  **Submit Feedback**: Likes, dislikes, and API feature requests should be filed as feedback in our <a href="https://forms.gle/zkD4NCH7HjKb7mm69" target="_blank">API feedback form</a>. If you encountered an issue or noticed inaccuracies in the API documentation, please <a href="https://www.samsara.com/help" target="_blank">submit a case</a> to our support team.
     *
     * To use this endpoint, select **Read Carrier-Proposed Assignments** under the Assignments category when creating or editing an API token. <a href="https://developers.samsara.com/docs/authentication#scopes-for-api-tokens" target="_blank">Learn More.</a>
     *
     * @param {Samsara.ListCarrierProposedAssignmentsRequest} request
     * @param {CarrierProposedAssignmentsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.carrierProposedAssignments.listCarrierProposedAssignments()
     */
    public listCarrierProposedAssignments(
        request: Samsara.ListCarrierProposedAssignmentsRequest = {},
        requestOptions?: CarrierProposedAssignmentsClient.RequestOptions,
    ): core.HttpResponsePromise<Samsara.ListCarrierProposedAssignmentResponse> {
        return core.HttpResponsePromise.fromPromise(this.__listCarrierProposedAssignments(request, requestOptions));
    }

    private async __listCarrierProposedAssignments(
        request: Samsara.ListCarrierProposedAssignmentsRequest = {},
        requestOptions?: CarrierProposedAssignmentsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Samsara.ListCarrierProposedAssignmentResponse>> {
        const { limit, after, driverIds, activeTime } = request;
        const _queryParams: Record<string, unknown> = {
            limit,
            after,
            driverIds,
            activeTime,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Samsara-Version": requestOptions?.version }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SamsaraEnvironment.ProductionApi,
                "fleet/carrier-proposed-assignments",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Samsara.ListCarrierProposedAssignmentResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.SamsaraError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/fleet/carrier-proposed-assignments",
        );
    }

    /**
     * Creates a new assignment that a driver can later use. Each driver can only have one future assignment.
     *
     *  **Submit Feedback**: Likes, dislikes, and API feature requests should be filed as feedback in our <a href="https://forms.gle/zkD4NCH7HjKb7mm69" target="_blank">API feedback form</a>. If you encountered an issue or noticed inaccuracies in the API documentation, please <a href="https://www.samsara.com/help" target="_blank">submit a case</a> to our support team.
     *
     * To use this endpoint, select **Write Carrier-Proposed Assignments** under the Assignments category when creating or editing an API token. <a href="https://developers.samsara.com/docs/authentication#scopes-for-api-tokens" target="_blank">Learn More.</a>
     *
     * @param {Samsara.CreateCarrierProposedAssignmentRequest} request
     * @param {CarrierProposedAssignmentsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.carrierProposedAssignments.createCarrierProposedAssignment({
     *         driverId: "42",
     *         vehicleId: "123"
     *     })
     */
    public createCarrierProposedAssignment(
        request: Samsara.CreateCarrierProposedAssignmentRequest,
        requestOptions?: CarrierProposedAssignmentsClient.RequestOptions,
    ): core.HttpResponsePromise<Samsara.CarrierProposedAssignmentResponse> {
        return core.HttpResponsePromise.fromPromise(this.__createCarrierProposedAssignment(request, requestOptions));
    }

    private async __createCarrierProposedAssignment(
        request: Samsara.CreateCarrierProposedAssignmentRequest,
        requestOptions?: CarrierProposedAssignmentsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Samsara.CarrierProposedAssignmentResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Samsara-Version": requestOptions?.version }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SamsaraEnvironment.ProductionApi,
                "fleet/carrier-proposed-assignments",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Samsara.CarrierProposedAssignmentResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.SamsaraError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/fleet/carrier-proposed-assignments",
        );
    }
}
