// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import type * as Samsara from "../../../index.js";

export declare namespace TachographEuOnlyClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class TachographEuOnlyClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<TachographEuOnlyClient.Options>;

    constructor(options: TachographEuOnlyClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Returns all known tachograph activity for all specified drivers in the time range.
     *
     *  **Submit Feedback**: Likes, dislikes, and API feature requests should be filed as feedback in our <a href="https://forms.gle/zkD4NCH7HjKb7mm69" target="_blank">API feedback form</a>. If you encountered an issue or noticed inaccuracies in the API documentation, please <a href="https://www.samsara.com/help" target="_blank">submit a case</a> to our support team.
     *
     * To use this endpoint, select **Read Tachograph (EU)** under the Compliance category when creating or editing an API token. [Learn More.](/docs/authentication#scopes-for-api-tokens)
     *
     * @param {Samsara.GetDriverTachographActivityRequest} request
     * @param {TachographEuOnlyClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.tachographEuOnly.getDriverTachographActivity({
     *         startTime: "startTime",
     *         endTime: "endTime"
     *     })
     */
    public getDriverTachographActivity(
        request: Samsara.GetDriverTachographActivityRequest,
        requestOptions?: TachographEuOnlyClient.RequestOptions,
    ): core.HttpResponsePromise<Samsara.DriverTachographActivityResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getDriverTachographActivity(request, requestOptions));
    }

    private async __getDriverTachographActivity(
        request: Samsara.GetDriverTachographActivityRequest,
        requestOptions?: TachographEuOnlyClient.RequestOptions,
    ): Promise<core.WithRawResponse<Samsara.DriverTachographActivityResponse>> {
        const { after, startTime, endTime, driverIds, parentTagIds, tagIds } = request;
        const _queryParams: Record<string, unknown> = {
            after,
            startTime,
            endTime,
            driverIds,
            parentTagIds,
            tagIds,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Samsara-Version": requestOptions?.version }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SamsaraEnvironment.ProductionApi,
                "fleet/drivers/tachograph-activity/history",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Samsara.DriverTachographActivityResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.SamsaraError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/fleet/drivers/tachograph-activity/history",
        );
    }

    /**
     * Returns all known tachograph files for all specified drivers in the time range.
     *
     *  <b>Rate limit:</b> 50 requests/sec (learn more about rate limits [here](/docs/rate-limits)).
     *
     *  **Submit Feedback**: Likes, dislikes, and API feature requests should be filed as feedback in our <a href="https://forms.gle/zkD4NCH7HjKb7mm69" target="_blank">API feedback form</a>. If you encountered an issue or noticed inaccuracies in the API documentation, please <a href="https://www.samsara.com/help" target="_blank">submit a case</a> to our support team.
     *
     * To use this endpoint, select **Read Tachograph (EU)** under the Compliance category when creating or editing an API token. [Learn More.](/docs/authentication#scopes-for-api-tokens)
     *
     * @param {Samsara.GetDriverTachographFilesRequest} request
     * @param {TachographEuOnlyClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.tachographEuOnly.getDriverTachographFiles({
     *         startTime: "startTime",
     *         endTime: "endTime"
     *     })
     */
    public getDriverTachographFiles(
        request: Samsara.GetDriverTachographFilesRequest,
        requestOptions?: TachographEuOnlyClient.RequestOptions,
    ): core.HttpResponsePromise<Samsara.TachographDriverFilesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getDriverTachographFiles(request, requestOptions));
    }

    private async __getDriverTachographFiles(
        request: Samsara.GetDriverTachographFilesRequest,
        requestOptions?: TachographEuOnlyClient.RequestOptions,
    ): Promise<core.WithRawResponse<Samsara.TachographDriverFilesResponse>> {
        const { after, startTime, endTime, driverIds, parentTagIds, tagIds } = request;
        const _queryParams: Record<string, unknown> = {
            after,
            startTime,
            endTime,
            driverIds,
            parentTagIds,
            tagIds,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Samsara-Version": requestOptions?.version }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SamsaraEnvironment.ProductionApi,
                "fleet/drivers/tachograph-files/history",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Samsara.TachographDriverFilesResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.SamsaraError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/fleet/drivers/tachograph-files/history",
        );
    }

    /**
     * Returns all known tachograph files for all specified vehicles in the time range.
     *
     *  <b>Rate limit:</b> 150 requests/sec (learn more about rate limits [here](/docs/rate-limits)).
     *
     *  **Submit Feedback**: Likes, dislikes, and API feature requests should be filed as feedback in our <a href="https://forms.gle/zkD4NCH7HjKb7mm69" target="_blank">API feedback form</a>. If you encountered an issue or noticed inaccuracies in the API documentation, please <a href="https://www.samsara.com/help" target="_blank">submit a case</a> to our support team.
     *
     * To use this endpoint, select **Read Tachograph (EU)** under the Compliance category when creating or editing an API token. [Learn More.](/docs/authentication#scopes-for-api-tokens)
     *
     * @param {Samsara.GetVehicleTachographFilesRequest} request
     * @param {TachographEuOnlyClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.tachographEuOnly.getVehicleTachographFiles({
     *         startTime: "startTime",
     *         endTime: "endTime"
     *     })
     */
    public getVehicleTachographFiles(
        request: Samsara.GetVehicleTachographFilesRequest,
        requestOptions?: TachographEuOnlyClient.RequestOptions,
    ): core.HttpResponsePromise<Samsara.TachographVehicleFilesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getVehicleTachographFiles(request, requestOptions));
    }

    private async __getVehicleTachographFiles(
        request: Samsara.GetVehicleTachographFilesRequest,
        requestOptions?: TachographEuOnlyClient.RequestOptions,
    ): Promise<core.WithRawResponse<Samsara.TachographVehicleFilesResponse>> {
        const { after, startTime, endTime, vehicleIds, parentTagIds, tagIds } = request;
        const _queryParams: Record<string, unknown> = {
            after,
            startTime,
            endTime,
            vehicleIds,
            parentTagIds,
            tagIds,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Samsara-Version": requestOptions?.version }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SamsaraEnvironment.ProductionApi,
                "fleet/vehicles/tachograph-files/history",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Samsara.TachographVehicleFilesResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.SamsaraError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/fleet/vehicles/tachograph-files/history",
        );
    }
}
