name: Release TypeScript SDK

on:
    workflow_dispatch:
    workflow_call:

jobs:
    release:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout repo
              uses: actions/checkout@v4

            - name: Set up pnpm
              uses: pnpm/action-setup@v4

            - name: Set up node
              uses: actions/setup-node@v3

            - name: Install dependencies and build
              run: pnpm install && pnpm build

            - name: Publish to npm
              run: |
                  npm config set //registry.npmjs.org/:_authToken ${NPM_TOKEN}
                  npm publish --access public
              env:
                  NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

            - name: Upload npm logs on failure
              if: failure()
              uses: actions/upload-artifact@v4
              with:
                  name: npm-debug-logs
                  path: /home/runner/.npm/_logs/
                  retention-days: 5
